@import '../variables/_font-size.scss';

@mixin font-size($size) {
    @if $size == '16' {
        font-size: $fontSize16;
    }
    @if $size == '18' {
        font-size: $fontSize18;
    }
    @if $size == '32' {
        font-size: $fontSize32;
    }
    @if $size == '60' {
        font-size: $fontSize60;
    }
}